:root {
    --primary-color: #8A2BE2;
    --secondary-color: #4B0082;
    --background-color: #0D0015;
    --text-color: #E6E6FA;
    --accent-color: #009744;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    width: 100%; /* Change from 80% to 100% */
    max-width: 1200px; /* Add a max-width for larger screens */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Navbar styles */
nav {
    background-color: var(--secondary-color);
    padding: 15px 0;
    transition: transform 0.3s ease-in-out, position 0.3s ease-in-out;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

nav ul li {
    margin: 5px 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav.partially-hidden {
    transform: translateY(-80%);
}

/* Sections */
.section {
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .section {
        padding: 15px;
    }
}